@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --primary-color:#FCDE67;
    --secondary-color:#5bccf6;


}
body{
    font-family: 'Architects Daughter', cursive;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 ;
    font-size: x-large;
}
.mainBody{
    width: 100%;
    
}

input{
    padding: 0.7rem;
    margin: 0.5rem auto;
    display: block;
    }

button{
        padding: 0.7rem;
        margin: 0.7rem auto;
        display: block;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-width: 1px;
        border-radius: 0.3rem;
        }

label, h1{
    padding: 0.5 rem;
    margin: 0.5rem auto;
    display: block;
    text-align: center;
}

#result{
    padding: 0.5 rem;
    margin: 0.5rem auto;
    display: block;
    text-align: center;
}








/* footer */

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    padding: 4rem  1rem;
    text-align: center;
    color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer .link {
    color: black;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}
